<!DOCTYPE html>
<html lang="en" style="background-image: linear-gradient(#91EAE4,#7F7FD5, #86A8E7);height: 100%;background-repeat: no-repeat;">
<head>
    <meta name="viewport" content="width=device-width,intial-scale=1">
    <title>{% block title %}ECart{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block cssloading %}
    {% load crispy_forms_tags %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  	
</head>
<body style="background-image: linear-gradient(#91EAE4,#7F7FD5, #86A8E7);height: 100%;background-repeat: no-repeat;">
<div style="display: flex; justify-content: center;">
  <a href="{% url 'product:home' %}"><img src="{% static 'product/images/ECartlogo.png' %}" width="150" height="50" 40px;" style="margin-top:20px"/></a>
</div>
<br>
<br>
<br>
<br>
<div class="container">
	<main>
		<div class="container" style="width:375px">
			{% if messages %}
			        	{% for message in messages %}
			        		<div class="alert alert-{{ message.tags }}" style="color:red">
			        			<p align="middle">{{ message }}</p>
			        		</div>
			        	{% endfor %}
			{% endif %}
		</div>
	</main>
    <div class="alert alert-info">
        An email has been sent with instructions to reset your password
    </div>
    <br>
    <br>
    <form role="form" action="#" method="post">
    {% csrf_token %}
        <div class="form-group">
			<label for="otp"><span class="glyphicon glyphicon-qrcode"></span>  OTP</label>
			<input type="password" class="form-control" id="otp" placeholder="Enter OTP.." name="otp" required>
		</div>
		<div class="form-group">
			<label for="psw"><span class="glyphicon glyphicon-eye-open"></span>  New Password</label>
			<input type="password" class="form-control" id="password" placeholder="Enter New Password.." name="password" required>
		</div>
		<div class="form-group">
			<label for="psw"><span class="glyphicon glyphicon-eye-open"></span>  Re Enter Password</label>
			<input type="password" class="form-control" id="repassword" placeholder="Re Enter Password.." name="repassword" required>
		</div>
		<div class="row">
			<div class="col-md-4">
				<button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-retweet"></span>&nbsp Change Password</button>
			</div>
			<div class="col-md-4">
				<a href="{% url 'user:resend_otp' %}" class="btn btn-success btn-block"><span class="glyphicon glyphicon-repeat"></span>&nbsp Resend OTP</a>
			</div>
		</div>
    </form>
</div>
</body>
</html>